.layout-side {

  .app-menu-content {
    background-color: var(--primary-color);
    width: var(--side-menu-size);
    transition: width 0.35s ease-in-out;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &.is-open {
     
      
        .app-menu-links {
          margin-top: 145px;
          padding-left: 5px;
          overflow-x: hidden;

          a {

            width: 48px;
            height: 48px;
            text-align: center;
            padding: 10px;
            margin: 5px auto 5px 32px;
            border-radius: 11px;

            &:hover,
            &.active {
              background-color: var(--color-primary-hover);

            }
          }

        }

       

        &.is-open {
          width: 222px;

          

          .icon-logo {
            margin-left: 30px;
            transform: rotate(180deg);
          }

         

        

        .preferences-link .icon {
          margin-left: 15px;
          color: #f3f6f8;
        }

      }

    }
  }
}