
.layout-side .app-menu-content{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 120px;
    transition: 03s;
    text-align: center;
    transition-duration: 0.2s;
}


.layout-side .app-menu-content.is-open{
    width: 250px;
    transition-property: width;
    transition-duration: 0.4s;
    text-align: center;
}
.layout-side .app-menu-content.is-open .OSFillParent {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  
  }





.layout-side .app-menu-content.is-open .textDisable{

width: 250px;
transition-property:width;
transition-duration: 0.4s;
visibility: visible;
margin-left: 10px;

}


.textDisable{
visibility: hidden;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;

 
}


.list-item{
    border-radius: 20px;
    height: 500px;

    .OSFillParent{

        margin-bottom: 20px;
        margin-top: 25px;

    }

    .bold{

        color: #ADB5BD;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .bioexpression{

        color: #6A7178;
        margin-bottom: 15px;
        width: 230px;
        margin-left: -30px;
    }

    .btn {
        background-color: #F7ECF9;
      bottom: 10px;
      margin-right: 0px;
      padding: 0px;
      position: absolute;
      width: 70%;
      margin-left: -10px;
      }
    .list-cont-email {
        margin-bottom: 10px;
        margin-left: -30px;

        .icon{
            color: #ADB5BD;
            font-size: 16px;
            height: 18px;
            margin-right: 10px;
            width: 18px;
        }


        }
        .list-expression{

            color: #ADB5BD;
            margin-bottom: 10px;
        }

        .list-cont-job{

            margin-left: -30px;

            .icon{
                color: #ADB5BD;
                font-size: 16px;
                margin-right: 10px;
            }
        }

        .list-cont-email2{
            text-align: left;
            margin-left: -30px;

            .icon{
                color: #ADB5BD;
                font-size: 16px;
                margin-right: 10px;
            }


        }



}


.homepage{
margin-bottom: 10px;
margin-right: 0px;
margin-left: 20px;
margin-top: 170px;
text-align: center;

}

.preferences{
margin-bottom: 10px;
margin-right: 0px;
margin-left: 20px;
margin-top: 120px;
position: fixed;
bottom: 0;
text-align: center;
}

.graphics1{
    margin-top: 20px;
    text-align: center;
    margin-left: -170px;
    margin-right: -80px;
  }
  
  .graphics2{
    margin-top: 30px;
    text-align: center;
    margin-left: -100px;
    margin-bottom: 20px;
  }
  
  .graphics3{
  margin-right: 70px;
    text-align: center;
    
    
  }


  .img-details {
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
    width: 160px;
  }
  
   .email-adress-exp {
    color: #ADB5BD;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .icon-details {
    color: #ADB5BD;
    font-size: 12px;
    margin-left: -30;
  }
  .departament-name-exp {
    color: #ADB5BD;
    font-size: 13px;
  }

  .progress-bar-details{
    text-align: right;
}


    .employee-details{


        height: 100px;
        margin-top: 10px;
        padding: 0px;
        width: 360px;
        margin-left: -40px;

        .employeedetails-bio{

            font-size: 8px;
            text-align: left;
            width: 750px;
        }
    }

    .btn-primary-listemployee{
      background-color:var(--color-primary);
      border:var(--border-size-s) solid var(--color-primary);
      color:var(--color-neutral-0);
      border-radius: 100px;
      border-width: 1px;
      font-size: 18px;
      height: 40px;
      position: relative;
      width: 180px;
      margin-left: 90px;
    }
    
    .percentagem{
    font-size: 14px;
    font-weight: bold;
    }

    .cont-icondetails2{
      margin-top: 10px;
      width: 30px;
      }
      
    

  
    
    











